$border-shape: 0.25rem solid;

/* Borders */

.border-left-primary {
  border-left: $border-shape $primary-color !important;
}

.border-bottom-primary {
  border-bottom: $border-shape $primary-color !important;
}

.border-left-secondary {
  border-left: $border-shape $secondary-color !important;
}

.border-bottom-secondary {
  border-bottom: $border-shape $secondary-color !important;
}

.border-left-success {
  border-left: $border-shape $success-color !important;
}

.border-bottom-success {
  border-bottom: $border-shape $success-color !important;
}

.border-left-info {
  border-left: $border-shape $info-color !important;
}

.border-bottom-info {
  border-bottom: $border-shape $info-color !important;
}

.border-left-warning {
  border-left: $border-shape $warning-color !important;
}

.border-bottom-warning {
  border-bottom: $border-shape $warning-color !important;
}

.border-left-danger {
  border-left: $border-shape $danger-color !important;
}

.border-bottom-danger {
  border-bottom: $border-shape $danger-color !important;
}
