@mixin default() {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  position: relative;
  font-family: "Open Sans";
  font-size: $fond-size;
  line-height: $line-height;
  min-height: 100%;
}

@media (min-width: $md) {
  html {
    font-size: $fond-size + 2;
  }
}

body {
  color: $body-color;
  background: $body-bg;
  font-family: $font-family;
  line-height: $line-height;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin: 0 0 60px 0;
  padding: 0;
  border: 0;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #e1e1e8;
  margin: 15px 0 15px;
}

h1 {
  @include default();
  font-size: 2.5em;
}
h2 {
  font-size: 2.1em;
  @include default();
}
h3 {
  font-size: 1.8em;
  @include default();
}
h4 {
  font-size: 1.5em;
  @include default();
}
h5 {
  font-size: 1.2em;
  @include default();
}
h6 {
  font-size: 1em;
  @include default();
}
