// Layout breakpoints

$xs: 0;
$sm: 576px; // Larger than mobile
$md: 768px; // Larger than tablet
$lg: 992px; // Larger than desktop
$xl: 1200px; // Larger than desktop HD

// Main color system

$primary-color: #2c7be5;
$secondary-color: #748194;
$success-color: #00d27a;
$info-color: #27bcfd;
$warning-color: #f5803e;
$danger-color: #e63757;
$light-color: #f9fafd;
$dark-color: #0b1727;

$white: #fff;
$gray-100: #f8f9fc;
$gray-200: #eaecf4;
$gray-300: #dddfeb;
$gray-400: #d1d3e2;
$gray-500: #b7b9cc;
$gray-600: #858796;
$gray-700: #6e707e;
$gray-800: #5a5c69;
$gray-900: #3a3b45;
$black: #000;

// Body - Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: #5a5c69 !default;

// Typography

$font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$fond-size: 10px;
$line-height: 1.5;
